<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" [ngClass]="{'bg-transparent pt-0': child1RLA.isActive}">
  <div class="container-fluid" [ngClass]="{'py-2': child1RLA.isActive}">
    <a class="navbar-brand" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-exclude me-2" viewBox="0 0 16 16">
        <path
          d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm12 2H5a1 1 0 0 0-1 1v7h7a1 1 0 0 0 1-1V4z" />
      </svg>Deep Learning</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/topics" routerLinkActive="active"
            ariaCurrentWhenActive="page">Topics</a>
          <!-- <a class="nav-link active" aria-current="page" href="#">Topics</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" #child1RLA="routerLinkActive" routerLink="/portfolio" routerLinkActive="active" ariaCurrentWhenActive="page">Portfolio</a>
          <!-- <a class="nav-link" href="#">Portfolio</a> -->
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>