p {
    margin: 0;

    &.text-primary.lead {
        cursor: pointer;
    }
}

hr {
    margin-bottom: 8px;
}


img {
    height: 3rem;
}

.card-footer {
    border-top: none;
}

.project .card {
    &._0 {
        color: white;
        background: #0A333D;
    }

    &._1 {
        color: white;
        background: #27596D;
    }

    &._2 {
        background: #44EE77;
    }

    &._3 {
        background: #11B8AC;
    }
}

.table,
.table> :not(caption)>*>* {
    background-color: var(--bs-info-bg-subtle) !important;
}

tbody tr {
    border-color: transparent !important;
}