<section class="py-5">
    <div class="py-5 header mt-2 text-center">
        <div class="col mx-auto">
            <div class="">
                <h1 class="word wisteria">Moral.</h1>
                <h1 class="word belize">Hardwork.</h1>
                <h1 class="word pomegranate">Empathy.</h1>
                <h1 class="word green">Leadership.</h1>
                <h1 class="word midnight">Dedication.</h1>
            </div>
        </div>
    </div>
    <div class="container profile">
        <div class="d-flex">
            <div class="profile-image me-3">
                <img class="circle" src="./../../assets/profile-icon.jpg" />
            </div>
            <div class="profile-detail">
                <h3><strong>Deep Vishal</strong></h3>
                <p>Amiable Technical Lead with years of experience in Front-end Technologies.</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container profile">
        <ng-container *ngFor="let temp of templateTypes">
            <div class="row">
                <div class="col-12 col-sm-2 offset-sm-1"><strong><em>{{temp.name}}: </em></strong></div>
                <div class="col-12 col-sm-9">
                    <app-card [load]="temp.load"></app-card>
                </div>
            </div>
            <hr>
        </ng-container>
    </div>
</section>