<section class="py-5">
    <div class="py-5 header mt-2 text-center">
        <div class="col mx-auto">
            <div class="">
                <h1 class="word wisteria">Experience.</h1>
                <h1 class="word belize">Learning.</h1>
                <h1 class="word pomegranate">Leadership.</h1>
                <h1 class="word green">Growth.</h1>
                <h1 class="word midnight">Help.</h1>
            </div>
        </div>
    </div>
    <div class="container profile">
        <div class="d-flex">
            <div class="profile-image me-3">
                <img class="circle" src="./../../assets/profile-icon.jpg" />
            </div>
            <div class="profile-detail">
                <h3><strong>Deep Vishal</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container profile">
        <div class="row">
            <div class="col-12 col-sm-2 offset-sm-1"><strong><em>About me: </em></strong></div>
            <div class="col-12 col-sm-9">
                <app-card></app-card>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-2 offset-sm-1"><strong><em>Experience: </em></strong></div>
            <div class="col-12 col-sm-9">
                <app-card [load]="'experience'"></app-card>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-2 offset-sm-1"><strong><em>Projects: </em></strong></div>
            <div class="col-12 col-sm-9">
                <app-card [load]="'project'"></app-card>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-2 offset-sm-1"><strong><em>Education: </em></strong></div>
            <div class="col-12 col-sm-9">
                <app-card [load]="'education'"></app-card>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-2 offset-sm-1"><strong><em>Personal Details: </em></strong></div>
            <div class="col-12 col-sm-9">
                <app-card [load]="'personal'"></app-card>
            </div>
        </div>
    </div>
</section>