<div class="modal" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <ng-content></ng-content> -->
            <div class="modal-header">
                <h5 class="modal-title">
                    <div class="d-flex m-2">
                        <img class="me-2" [src]="details?.logo">
                        <!-- <div> -->
                        <h5 class="m-auto">
                            {{dataType === 'project' ? details?.project : details?.company}}
                        </h5>
                        <!-- </div> -->
                    </div>
                </h5>
                <button type="button" class="btn-close" (click)="close();"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <div>
                        <h5 class="m-0">
                            {{details?.designation}}
                        </h5>
                    </div>
                </div>
                <div class="bg-transparent">
                    <p class=""> <em>{{details?.tenure}}</em></p>
                    <p class="">Client : {{details?.client}}</p>
                    <p class="" *ngIf="dataType === 'exp'">Position : {{details?.position}}</p>
                    <p class="">Project : {{details?.project}}</p>
                    <p class="">Project Description : {{details?.description}}</p>
                    <p class="" *ngIf="dataType === 'project'">Responsibilites :</p>
                    <ng-container *ngIf="dataType === 'project'">
                        <ul>
                            <li *ngFor=" let x of details.responsibilities">{{x}}</li>
                        </ul>
                    </ng-container>
                    <p class="" *ngIf="dataType === 'project'">Tech and Tools : {{details?.tools}}</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close();">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop show"></div>